* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

img {
    max-width: 100%;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn-reset {
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px;
}

.link {
    display: inline-flex;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #D4D6D4;
}

.link svg {
    fill: currentColor;
    width: 12px;
    height: 12px;
    transform: translateY(4px);
    transition: color 0.3s ease-in-out;
    
}

.link span {
    text-indent: 10px;;
    border-bottom: 1px solid currentColor;
}

.link:hover {
    color: #ffd723;
}

.site-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: #4D533C;
    
}

header {
    padding-top: 24px;
    padding-bottom: 24px;;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger {
    --offset-horizontal: 11px;
    --offset-vertical: 14px;
    position: relative;
    border-radius: 100%;
    padding: var(--offset-vertical) var(--offset-horizontal);
    width: 40px;
    height: 40px;
    background-color: #f5f6f7;
}

.burger-line {
    position: absolute;
    left: 50%;
    top: var(--offset-vertical);
    display: inline-block;
    width: calc(100% - (var(--offset-horizontal) * 2));
    height: 2px;
    background-color: #000;
    transform: translateX(-50%);
}

.burger-line:nth-child(2) {
    top: calc(var(--offset-vertical) + 6px);
}

.burger-line:nth-child(3) {
    top: calc(var(--offset-vertical) + 12px);
}

.hero {
    padding-top: 189px;
    padding-bottom: 210px;
    background-image: url(../img/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content {
    max-width: 616px;
}

.hero-subtitle {
    display: inline-block;
    margin-bottom: 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px; 
    color: #ffffff;
}

.hero-title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    color: #FFFFFF;
}

.hero-descr {
    margin: 0;
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.hero-link {
    color: #ffd723;
}

.services {
    margin-bottom: -180px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.services-title {
    margin: 0;
    margin-bottom: 60px;
    max-width: 606px;
}

.services-list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}

.services-subtitle { 
    margin: 0;
    margin-bottom: 20px; 
    max-width: 183px; 
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    text-transform: uppercase;
    color: #4D533C;
}

.services-descr {
    margin: 0;
    margin-bottom: 56px;
    max-width: 194px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
}

.services-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.services-link {
    margin-bottom: 0;
    margin-top: auto;
}

.get-started {
    position: relative;
    top: 180px;
    width: 88%;
    padding: 70px 0;
    background-color: #fafafa;
    box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
}

.footer {
    padding-top: 300px;
    color: #ffffff;
    background-image: url('./img/Bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.get-started-title {
    margin: 0;
    margin-bottom: 50px;
    max-width: 822px;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
    color: #4D533C;
}

.get-started-link {
    text-transform: uppercase;
}

.footer-top {
    display: flex;
    flex-wrap: wrap; /*для адаптива, чтобы переносились*/
    padding-bottom: 52px;
    border-bottom: 1px solid #5D6544;
}

.footer-contacts-text {
    display: block;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
}

.footer-contacts-value {
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
}

.footer-contacts-item:not(:last-child) {
    margin-right: 128px; /*отсутп между телефоном и адресом*/
}

.footer-title {
    font-weight: 600;
    margin-bottom: 21px;
    font-size: 16px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-link {
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    color: #B6C197;
}

.footer-middle {
    --grid-gap: 70px; /*переменная*/
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(4, 1fr);
    padding: 60px 0;
    border-bottom: 1px solid #5D6544;
}

.footer-column:last-child {
    position: relative;
}

.footer-column:last-child::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(-1 * (var(--grid-gap)));
    width: 1px;
    height: 100%;
    background-color: #5D6544;
}

.footer-text {
    margin: 0;
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #B6C197;
}

.footer-mail {
    display: inline-block; /*задается, чтобы сработал отступ*/
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
    text-decoration: none;
}

.social {
    display: flex;
    align-items: center;
}

.social-item:not(:last-child) {
	margin-right: 11px;
}

.social-link {
    display: block;
    border-radius: 100%;
    width: 33px;
    height: 33px;
    background-color: #FFD723;
    background-size: 18px auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
	transition: opacity 0.3s ease-in-out;
}

.social-link:hover {
	opacity: 1;
}

.social-link-fb {
    background-image: url('./img/facebook.svg');
    background-size: 18px auto;
}

.social-link-tw {
    background-image: url('./img/twitter.svg');
    background-size: 18px auto;
}


.social-link-g {
    background-image: url('./img/google-plus.svg');
    background-size: 18px auto;
}

.social-link-in {
    background-image: url('./img/linkedin.svg');
    background-size: 18px auto;
}

.copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #B5C096;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

@media (max-width: 992px) {
    .services-list {
        display: grid;
        gap: 55px;
        grid-template-columns: repeat(2, 1fr);
        list-style: none;
    } 

    .services-subtitle {
        max-width: none;
    }

    .services-descr {
        max-width: none;
    }

    .footer-middle {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-column:last-child::before {
        display: none;
    }
}

@media (max-width: 768px) {
    .get-started-title {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 576px) {
    .footer-middle {
        --grid-gap: 40px;
        grid-template-columns: repeat(1, 1fr);
    }

    .hero-title {
		font-size: 50px;
		line-height: 65px;
	}

	.services {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.footer-bottom {
		flex-direction: column;
	}

}

.hero-title {
    font-size: 50px;
    line-height: 65px;
}

.services {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-bottom {
    flex-direction: column;
}



